/* ---------------- NAVBAR ---------------- */
.navbar {
    padding: 15px 0;
    background-color: #1A1A2E;
}

.logo-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.brand {
    color: #E4A11B;
    font-family: "Playfair Display", serif;
    font-size: 22px;
}

.navbar-nav .nav-link {
    color: #FFFFFF;
    font-size: 16px;
    transition: 0.3s;
}

.navbar-nav .nav-link:hover {
    color: #E4A11B;
}

.login-btn {
    background-color: #E4A11B;
    border: none;
    padding: 8px 20px;
    border-radius: 20px;
    color: #1A1A2E;
    font-weight: bold;
    transition: 0.3s;
}

.login-btn:hover {
    background-color: #D19715;
}
/*-------------Events-into------------------ */
.event-intro{
    background-color:  linear-gradient(rgba(45,45,91,0.7), rgba(45,45,91,0.7)),
    url('../images/events.jpg');
    background-position: center ;
    background-size: cover;
    background-repeat: no-repeat;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}